---
layout: default
comments: false
---

{% for post in paginator.posts %}

  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% unless post.next %}
    <h3 class='next'>
      <a href="{{ site.url }}/years/{{ year }}/">{{ year }}</a>
      <span class="totals">{% include _year_totals.html year=year %}</span>
    </h3>
  {% else %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
      <h3 class='next'>
        <a href="{{ site.url }}/years/{{ year }}/">{{ year }}</a>
        <span class="totals">{% include _year_totals.html year=year %}</span>
      </h3>
    {% endif %}
  {% endunless %}

  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture current_year %}{{ 'now' | date: '%Y' }}{% endcapture %}

  {% unless post.race and year == current_year %}
    {% if post.strava_id or year != current_year %}
      <article>
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          {% if post.race %}
            <span class='race'>RACE</span>
          {% endif %}
          {% unless post.strava_id %}
            <span class='read'>READ</span>
          {% endunless %}
        </h2>
      </article>
    {% endif %}
  {% endunless %}
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    <small>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a href="/">&lt; {{ paginator.previous_page }}</a>
        {% else %}
          <a href="/page{{ paginator.previous_page }}">&lt; {{ paginator.previous_page }}</a>
        {% endif %}
        &nbsp;|&nbsp;
      {% endif %}
      {% assign window = 5 %}
      {% assign prev_shown = 0 %}
      {% for count in (1..paginator.total_pages) %}
        {% assign diff = count | minus: paginator.page | abs %}
        {% assign show = false %}
        {% if count == 1 or count == paginator.total_pages or diff <= window %}
          {% assign show = true %}
        {% endif %}
        {% if show %}
          {% assign prev_plus_1 = prev_shown | plus: 1 %}
          {% if prev_shown > 0 and count > prev_plus_1 %}&hellip;&nbsp; {% endif %}
          {% if count == paginator.page %}
            <strong>{{ count }}</strong>
          {% elsif count == 1 %}
            <a href="/">{{ count }}</a>
          {% else %}
            <a href="/page{{ count }}">{{ count }}</a>
          {% endif %}
          &nbsp;
          {% assign prev_shown = count %}
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        |&nbsp;
        <a href="/page{{ paginator.next_page }}">{{ paginator.next_page }} &gt;</a>
      {% endif %}
    </small>
  </div><!-- /.pagination -->
{% endif %}
