---
layout: default
comments: false
---

{% for post in paginator.posts %}

  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% unless post.next %}
    <h3 class='next'>
      {{ year }}
      <span class="totals">{% include _year_totals.html year=year %}</span>
    </h3>
  {% else %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
      <h3 class='next'>
          {{ year }}
          <span class="totals">{% include _year_totals.html year=year %}</span>
      </h3>
    {% endif %}
  {% endunless %}

  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture current_year %}{{ 'now' | date: '%Y' }}{% endcapture %}

  {% unless post.race and year == current_year %}
    {% if post.strava or year != current_year %}
      <article>
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          {% if post.race %}
            <span class='race'>RACE</span>
          {% endif %}
          {% unless post.strava %}
            <span class='read'>READ</span>
          {% endunless %}
        </h2>
      </article>
    {% endif %}
  {% endunless %}
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.url }}" class="btn">Previous</a>
      {% else %}
        <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
      {% endif %}
    {% else %}
      Previous
    {% endif %}
    <ul class="inline-list">
      <li>
        {% if paginator.page == 1 %}
          <span class="current-page">1</span>
        {% else %}
          <a href="{{ site.url }}/">1</a>
        {% endif %}
      </li>
      {% for count in (2..paginator.total_pages) %}
        <li>
          {% if count == paginator.page %}
            <span class="current-page">{{ count }}</span>
          {% else %}
            <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% if paginator.next_page %}
      <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
    {% else %}
      Next
    {% endif %}
  </div><!-- /.pagination -->
{% endif %}
