<!-- Twitter Cards -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if meta_description %}
  <meta name="twitter:description" content="{{ meta_description }}">
{% endif %}
{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}">{% endif %}
{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
{% assign post_image = "" %}
{% assign large_post_image = false %}
{% if page.image.feature %}
  {% assign post_image = site.url | append: "/images/" | append: page.image.feature %}
  {% assign large_post_image = true %}
{% elsif page.strava_id and page.photos.size > 0 %}
  {% assign post_image = page.photos.first %}
  {% assign large_post_image = true %}
{% elsif page.strava_id and page.map %}
  {% assign activity_map_url = page.path | remove_first: "_posts/" | replace: ".md", ".png" | prepend: "/images/maps/" %}
  {% assign post_image = activity_map_url | prepend: site.url %}
  {% assign large_post_image = true %}
{% elsif page.content contains "<img src=" %}
  {% assign post_image = page.content | split: '<img src="' | last | split: '"' | first %}
  {% assign large_post_image = true %}
  {% unless post_image contains "http" %}
    {% assign post_image = post_image | prepend: site.url %}
  {% endunless %}
{% elsif page.image.thumb %}
  {% assign post_image = site.url | append: "/images/" | append: page.image.thumb %}
{% else %}
  {% assign post_image = site.url | append: "/images/default-thumb.png" %}
{% endif %}
{% if large_post_image %}
<meta name="twitter:card" content="summary_large_image">
{% else %}
<meta name="twitter:card" content="summary">
{% endif %}
<meta name="twitter:image" content="{{ post_image }}">
<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if meta_description %}
  <meta property="og:description" content="{{ meta_description }}">
{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ post_image }}">