<h3 class='next'>
  Read
</h3>
{% for post in site.posts %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% capture current_year %}{{'now' | date: "%Y"}}{% endcapture %}
  {% unless post.strava or post.races %}
    {% if year == current_year %}
      <article>
        <h2>
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          <span class='read'>READ</span>
        </h2>
      </article>
    {% endif %}
  {% endunless %}
{% endfor %}


