/* Selection ============================================= */
::-moz-selection {
	background-color: lighten($basecolor, 65%);
	color: $basecolor;
	text-shadow: none;
}
::selection {
	background-color: lighten($basecolor, 65%);
	color: $basecolor;
	text-shadow: none;
}

/* Global Classes ======================================== */
.all-caps {
	text-transform: uppercase;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.image-pull-right {
	float: right;
	margin-top: 0;
}
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
	    content: "";
	}
	&:after {
		clear: both;
	}
}
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}

/* Global Transition ==================================== */
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}

.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}

.nyrr-results {
	font-size: 10pt;
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
      background-color: #f0f0f0; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
