<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
    {% include _search.html %}
    {% include _rss.html %}
  </div>
  <article class="page">
    <h1>{{ page.year }}</h1>
    <p><small>{% include _year_totals.html year=page.year %}</small></p>
    <div class="article-wrap">
      <ul>
        {% for post in site.posts %}
          {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% if post_year == page.year %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              {% if post.race %}<span class='race'>RACE</span>{% endif %}
              {% unless post.strava_id %}<span class='read'>READ</span>{% endunless %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div><!-- /.article-wrap -->
    <p><small>
      {% assign year_pages = site.pages | where: "layout", "year" | sort: "year" %}
      {% assign first_year = year_pages | first %}
      {% assign last_year = year_pages | last %}
      {% if page.year == first_year.year %}
        &lt; {{ first_year.year }}&nbsp;
      {% else %}
        <a href="/years/{{ first_year.year }}/">&lt; {{ first_year.year }}</a>&nbsp;
      {% endif %}
      {% for yp in year_pages %}
        {% unless yp.year == first_year.year or yp.year == last_year.year %}
          {% if yp.year == page.year %}
            <strong>{{ yp.year }}</strong>&nbsp;
          {% else %}
            <a href="/years/{{ yp.year }}/">{{ yp.year }}</a>&nbsp;
          {% endif %}
        {% endunless %}
      {% endfor %}
      {% if page.year == last_year.year %}
        {{ last_year.year }} &gt;
      {% else %}
        <a href="/years/{{ last_year.year }}/">{{ last_year.year }} &gt;</a>
      {% endif %}
    </small></p>
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
